body {
    background: rgb(47, 206, 171);
}
.canvas{
    left: 8vw;
    border:1px black dotted;
    position:absolute;
    top:20vh;
    cursor: crosshair;
    background: #fff;
}

#canvas-draft{
    background-color: transparent;
}
#tools {
    position: absolute;
    display: flex;
    top: 10vh;
}
#tools button {
    background-color: skyblue;
    box-shadow: 1px 1px 2px #000000;
    opacity: 0.8;
    width: 70px;
    height: 80px;
    z-index: 1;
}

#tools button:hover {
    background-color: rgb(34, 130, 185);
    border: solid 2px #000;
    opacity: 1;
}
#tools button.active{
    background-color: rgb(34, 130, 185);
    box-shadow: 1px 1px 2px #000000;
    opacity: 1;
    z-index: 2;
}

#tools div.dropdown-menu.show {
    left:70px!important;
    background: transparent;
    border: none;
}

ul.styleAttr {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-top: 1vh;
    padding-left: 3vw;
}

.styleAttr .dropdown-toggle {
    border: none;
    background: #17a2b8;
}
.styleAttr .dropdown-menu.show {
    background: transparent;
    border:none;
}

.styleAttr li {
    padding-left: 1vw;
}

.textInputForm{
    position: absolute;

}

.textInputForm{
    position: absolute;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(47, 206, 171, 0.8);
    text-align: center;
  }

#form-text {
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgba(0,0,0,0.5);
    align-content: center;
    min-width: 250px;
}

#width, #height {
    width: 50px;
}

h1 {
    color: white;
    font-size: 22px;
}

h2 {
    color: white;
    font-size: 18px;
}

.import-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  #file-btn, #create {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 6px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .import-button input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.textPanel {
    display: none;
    flex-direction: row;
    list-style: none;
}

.textPanel li {
    padding-left: 1vw;
}


