.canvas{
    border:1px black dotted;
    position:absolute;
    top:100px;
    bottom:0px;
    left:0px;
    right:0px;
    cursor: crosshair;
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
